streamlit
pandas
plotly
scikit-learn
sqlalchemy
psycopg2-binary
python-dotenv
tensorflow
pillow

numpy
matplotlib
seaborn

sentence-transformers
pytorch
torchvision
xgboost 
catboost
transformers
datasets
torch

sqlalchemy
dotenv
pytest